@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Play);
* { box-sizing: border-box; }

h1 {
    font-size: 55px;
    color: #d1bcd2;
    text-align: center;
    font-family: 'Chewy', sans-serif;
    margin-top: -114px;
	text-shadow: 0px 0px 45px white;
	-webkit-text-stroke: 1px black;	
}

h2 {
    color: yellow;
    font-family: 'Varela+Round', sans-serif;
	text-shadow: 0px 0px 20px orange;
	width: 400px;
}

p {
    color: aliceblue;
    font-family: 'Play', sans-serif;
	text-align: left;
	width: 400px;

	}

body {
    background-image: url(resource/SpaceBackground.jpg);
    background-repeat: repeat;
	vertical-align: right;
	background-attachment: fixed;
	width: 100%;
}

img {
    margin-top: 15px;
	margin-right: 25px;
	padding-bottom: 17px;
	height: 136px;
	margin-left: 12px;
}

nav
{ 
  width: 225px;
  padding: 15px;
  height: 850px;
  background: -webkit-linear-gradient(top,#7c10bf,#7c10bf 40%,rgba(255,255,255,0)); 
  color: white;
  vertical-align: top;
  float: left;
}

a { 
    text-decoration: none;
    color: aqua;
    font-family: 'Play';
    display: block;
    padding: 20px; 
    
}

li {
    border-bottom: solid #fcb4ff;
    list-style: none;
}

a:hover {
    color: yellow;
}

div {
	display: inline-grid;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 25px;
}

.selected
{
  background-color: #ff64f9;
}


.zap {
	-webkit-transition: all .5s;
}

.zap:hover {
	background-color: #ff64f9;
}

.header {
	display: inline-block;
	background: -webkit-linear-gradient(left,#7c10bf,#7c10bf 20%,rgba(255,255,255,0));
	height: 145px;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px
}

footer {
	background: #7c10bf;
	height: 45px;
	text-align: center;
	color: white;
	width: 100%;
	padding-top: 12px;
	position: absolute;
}

 .test {
	width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 200px;
	padding-bottom: 20px;
	margin-top: 200px
	}

.test10 {
	width: 780px;
	border: 2px solid crimson;
    border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: rgba(232, 49, 59, 0.6);
	margin-left: 100px;
	margin-bottom: 50px;
	margin-top: 200px
}

.test2 {
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	margin-top: 200px
}

.test3 {
		width: 700px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 160px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	margin-top: 200px;
}

.test4 {
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-top: 200px
}

.test5{
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 200px;
	padding-bottom: 20px;
	margin-top: 200px
}
.banner {
	margin-top: 20px;
	margin-bottom: -35px;
	position: absolute;

}

.test6 {
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 150px;
	padding-bottom: 20px;
	margin-top: 200px
}

.test7 {
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 200px;
	padding-bottom: 20px;
	margin-top: 200px
}

.test8 {
	
		width: 450px;
	border: 2px solid skyblue;
    border-radius: 15px;
	padding-top: 20px;
	background-color: rgba(46, 255, 178, 0.6);
	margin-left: 20px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	margin-top: 200px
	
}
.wifi {
	margin-left: 145px;
}

.sputnik {
	margin-left: 150px;
	}
}

.biblio {
	width: 100px;
}

.robber {
	margin-left: 100px;
}

.width p {
	width: 600px;
	
}